body {
  max-height: 100%;
  overflow: hidden;
}

nav {
  min-height: 60px;
}

.btn {
  cursor: pointer;
}

.header-section {
  display: none;
  width: 100%;
  margin-bottom: -31px;
}

.hidden-button {
  position: absolute;
  top: 0;
  width: 33.3%;
  height: 104px;
  opacity: 0;
  cursor: pointer;
}

.hidden-button:hover {
  opacity: 0.5;
}

.btc-button {
  left: 0;
}

.eth-button {
  left: 33.3%;
}

.ltc-button {
  left: 66.6%;
}

.main {
  position: relative;
  text-align: center;
  width: 100%;
  background: white;
}

.chart{
    display: inline-table;
    height: 100%;
    position: relative;
    width: 100%;
}

.info-section {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
}

.add-chart-nav {
  padding: 0;
  text-align: center;
}

.mobile-add {
  color: #5cb85c;
  font-size: 2em;
  line-height: 0.6em;
}

.close_chart {
    top: 7px;
    height: 50px;
    position: absolute;
    right: 35px;
    width: 50px;
}

.close_chart > button {
    background: red;
    background: rgba(255,0,0,1);
    border: 1px solid white;
    color: white;
    cursor: pointer;
    line-height: 1em;
    padding: 0.25em 0.5em;
}

footer {
  text-align: center;
  min-height: 50px;
  vertical-align: middle;
  border-top: 1px solid #5cb85c;
  color: #5cb85c;
  padding-top: 10px;
}

footer > .developed {
  color: #5cb85c;
}
@media (max-width: 992px){
  footer > .developed-by {
    display: none;
  }
}
